@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /* primary-color */
    --base-primary: 44;
    --primary-light: hsla(var(--base-primary), 85%, 75%, 100%);
    --primary-normal: hsla(var(--base-primary), 85%, 50%, 100%);
    --primary-darker: hsla(var(--base-primary), 85%, 35%, 100%);

    --black-color: #000;
    --dark-grey-color: #25313C;
    --grey-color: #6D7D8B;
    --light-grey-color: #BBC8D4;
    --lightest-grey-color: #DAE3EA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html,
main {
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
}

body.active {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/* Text-Styles */

h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 800;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

h4 {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BBC8D4;
}

p {
    color: #6D7D8B;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
}

iframe {
    border: none;
}

.caption {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

.social-links img:hover,
.about-content ul img:hover {
    transform: scale(0.96);
}

/* Navigation */

.navigation.flex {
    justify-content: space-between;
}

.main-nav .navigation {
    position: relative;
    z-index: 100;
}

.nav-control {
    position: relative;
    display: none;
}

.nav-control::after {
    font: var(--fa-font-solid);
    content: '\f0c9';
    font-size: 2em;
}

.menu-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.341);
    z-index: -100;
    transition: 0.5s ease-in-out;
}

.menu-overlay.active {
    opacity: 1;
}

.nav-control.active::after {
    font: var(--fa-font-solid);
    content: '\f00d';
    font-size: 2.2em;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    float: left;
    margin-left: 32px;
}

nav ul a { 
    font-weight: 700;
    padding: 12px 0;
}

nav ul li a:hover {
    border-bottom: 2px solid var(--black-color);
}

/* Hero Section */ 

.hero-content .hero-text {
    flex-basis: 75%;
}

.hero-content.flex {
    justify-content: space-between;
    padding: 100px 0 24px 0;
    gap: 0;
    flex-wrap: nowrap;
    max-height: 600px;
}

.hero-img-container {
    flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 2;
    position: relative;
    left: -175px;
    height: 100%;
}

.hero-img {
    width: 195%;
    height: 195%;
    object-fit: cover;
}

.hero-title {
    font-weight: 700;
}

.hero-title span {
    color: var(--dark-grey-color);
}

.hero-desc {
    font-size: 24px;
    line-height: 1.5;
    margin: 32px 0 40px;
    color: var(--dark-grey-color);
}

/* Services Section */ 
.services-section {
    margin: 96px 0 192px 0;
}

.services-content {
    position: relative;
    margin-top: 120px;
}

.services-content.flex {
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
    flex-wrap: nowrap;
}

.services-content .pattern-img {
    position: absolute;
    bottom: 0;
    left: -30px;
    bottom: -52px;
    z-index: -5;
}

.services-content .card {
    flex-basis: 420px;
}

.services-content .card .card__text h3 {
    font-weight: 400;
    margin-bottom: 16px;
}

.services-content .card .card__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}

/* About Section */
.about-section .grid__info p:first-child {
    margin-bottom: 24px;
}

/* Perks Section */
.perks-section .grid__info {
    grid-column: 1 / 2;
    grid-row: 1;
    justify-self: flex-end;
}

.perks-section .grid__img {
    justify-self: flex-start;
    grid-column: 2 / 3;
    grid-row: 1;
}

.perks-section .grid__text ul{
    list-style: none;
}

.perks-section .grid__text span {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #6D7D8B;
    padding-left: 16px;
    display: inline-block;
}

.perks-section .grid__text ul li {
    margin-bottom: 8px;
}

.perks-section .grid__text ul li::before {
    content: url('../images/checkmark.svg');
    display: inline-block;
    vertical-align: middle;
    
}

/* Programs Section */
.programs-section {
    position: relative;
}

.programs-section .title {
    margin-bottom: 112px;
}

.programs-section .flex {
    gap: 56px;
    flex-wrap: nowrap;
}

.programs-plans .card {
    text-align: left;
    padding: 0;
    border-radius: 8px;
    border-top: 6px solid var(--black-color);
    flex-basis: 352px;
    max-width: 352px;
}

.programs-plans .card.most-popular {
    position: relative;
    top: -56px;
    border-top: 6px solid var(--primary-normal);
}

.programs-plans .card__heading {
    border-bottom: 1px solid var(--black-color)
}

.programs-plans .card__heading div {
    padding: 32px 24px 40px;
}

.programs-plans .card__heading h4 {
    color: var(--black-color);
    font-weight: 800;
}

.programs-plans .card__heading h1 {
    margin: 16px 0;
}

.programs-plans .card__heading h1 span {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: var(--grey-color);
    position: relative;
    left: 4px;
}

.programs-plans .card__bottom {
    padding: 40px 24px;
}

.programs-plans .card__bottom ul {
    list-style: none;
    margin-bottom: 32px;
}

.programs-plans .card__bottom ul span {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    padding-left: 40px;
}

.programs-plans .card__bottom ul li {
    background-image: url('../images/checkmark-circle.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
    margin-bottom: 8px;
}

.programs-plans .btn {
    width: 100%;
    padding: 16px 0;
    border-radius: 8px;
}

.programs-section .programs-support {
    margin-top: 56px;
    text-align: center;
}


/* FAQ Section */
.faq-section {
    padding: 80px 0 56px 0;
}

.faq-section .flex {
    justify-content: space-between;
    align-items: flex-start;
    gap: 144px;
}

.faq-heading h3:nth-of-type(1) {
    margin-bottom: 16px;
}

.faq-heading h3.reg {
    max-width: 448px;
}

.faq-support {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 64px 32px;
    border-radius: 20px;
    background-color: var(--lightest-grey-color);
}

.faq-support .btn {
    padding: 16px 52px;
    align-self: center;
    border-radius: 4px;
}

.faq-questions input {
    display: none;
}

.faq-questions .answer {
    opacity: 0;
    font-size: 0px;
    display: inline-block;
    max-width: 638px;
    padding-bottom: 24px;
}

.faq-questions input:checked + label img,
.faq-questions input:checked + label + .answer {
    cursor: pointer;
    transition: all 0.5s ease;
}

.faq-questions input:checked + label + .answer {
    opacity: 1;
    font-size: 18px;
    line-height: 32px;
    color: var(--grey-color);
}

.faq-questions input:checked + label img {
    transform: rotate(180deg);
}

.faq-questions {
    flex-grow: 1;
}

.faq-questions label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-questions label span {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

/* Testimonials Section */
.testimonials-section .container {
    position: relative;

}

.testimonials-section .flex {
    flex-wrap: nowrap;
    position: relative;
    gap: 24px;
    justify-content: start;
    left: 156px;
}

.testimonials-section .card {
    text-align: left;
    padding: 32px;
    min-width: 368px;
}

.testimonials-section .card p:nth-of-type(1) {
    max-width: 304px;
    margin: 8px 0 32px 0;
}

.testimonial-img {
    float: left;
    margin-right: 16px;
}

.testimonial-name {
    color: var(--black-color);
}

.testimonial-img {
    background-color: var(--lightest-grey-color);
    border-radius: 100px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-img img {
    width: 32px;
}

.testimonial-controls {
    margin-top: 64px;
    float: right;
    display: flex;
    gap: 40px;
}

.testimonial-controls img {
    cursor: pointer;
}

/* Instagram-Section */
.instagram-section .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    margin-bottom: 0;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e8edf0d2;
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.img-container:hover img {
    transform: scale(1.1);
}

.instagram-section .grid:hover .img-overlay {
    opacity: 1;
}

.instagram-section .grid .img-container:hover .img-overlay {
    opacity: 0;
}

.img-container {
    background-color: var(--lightest-grey-color);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.img-container img {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    transition: 0.6s ease;
}

.instagram-section .title .btn {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.instagram-section .title .btn img {
    width: 24px;
    vertical-align: middle;
    margin-left: 8px;
}

/* ABOUT-PAGE */

.about-content {
    max-width: 800px;
}

.about-content p {
    margin: 16px 0 32px 0;
}

.about-content ul {
    display: flex;
    gap: 8px;
}

.about-info {
    padding-bottom: 80px;
}

/* PROGRAMS-PAGE */
.programs-section input {
    display: none;
}

.programs-section .label-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    border-top: 1px solid #a8acaf;
    border-bottom: 1px solid #a8acaf;
}

.programs__tabs {
    position: relative;
    font-size: 0px;
}

.programs__tabs .cards.flex {
    padding-top: 88px;
    gap: 56px;
}

.programs__tabs .tab {
    padding: 120px 0;
    font-size: 16px;    
}

.programs__tabs input + label {
    display: inline-block;
    vertical-align: bottom;
    background-color: #fff;
    opacity: .6;
    text-align: center;
    font-size: 18px;
    margin-right: 32px;
    background-color: transparent;
    transition: 0.2s ease;
    cursor: pointer;
}

.programs__tabs input + label:hover {
    opacity: .75;
}

.programs__tabs input:checked + label {
    display: inline-block;
    opacity: 1;
    position: relative;
}

.programs__tabs input:checked + label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0;
    bottom: -12px;
}

.programs__tabs input ~ .tab {
    display: none;
}

.programs__tabs #online-tab:checked ~ .online-content,
.programs__tabs #person-tab:checked ~ .person-content {
    display: block;
    /* justify-content: center;
    flex-wrap: wrap;
    gap: 56px; */
}

/* Footer */
footer {
    background-color: var(--light-grey-color);
    width: 100%;
}

footer .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

footer .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 56px 60px 0 60px;
}

.footer-logo {
    padding-right: 16px;
}

footer span, 
footer input {
    display: block;
}

footer span {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: var(--dark-grey-color);
    transition: 0.3s ease;
}

footer a span:hover {
    color: var(--black-color)
}

footer form {
    margin-top: 40px;
}

footer form label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

footer form input {
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 24px;
    padding: 8px 40px;
    position: relative;
    background-color: transparent;
    background-image: url('../images/mail-black.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

footer form input::placeholder {
    color: var(--black-color);
}

footer form input:focus {
    outline: none;
}

footer form .btn {
    padding: 8px 40px;
    border-radius: 4px;
    font-weight: 400;
}

.footer-links h3,
.footer__contact-links h3 {
    margin-bottom: 16px;
}

.footer-links.flex {
    display: flex;
    gap: 101px;
    align-items: flex-start;
    justify-content: stretch;
    flex-wrap: nowrap;
}

.footer-links li span {
    padding-bottom: 8px;
}

.footer__contact-links span img {
    vertical-align: middle;
    padding-right: 8px;
}

footer .social-links img {
    padding-top: 24px;
    padding-right: 8px;
}

.footer-copyright {
    grid-column: 1 / 4;
    grid-row: 2;
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid #000;
    margin-top: 64px;
}

.footer__nav-links,
.footer__services-links,
.footer__contact-links {
    width: max-content;
}

/* ==== MEDIA QUERIES | 1024px Laptops ==== */

@media only screen and (max-width: 1024px) {
    .programs-plans.flex {
        flex-direction: column;
    }

    .programs-plans .card {
        /* max-width: 352px; */
    }

    .programs-plans .card.most-popular {
        top: 0px;
    }

    /* FOOTER */

    .footer-newsletter {
        grid-column: 1 / 3;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-newsletter .footer-form {
        margin: 0;
    }

    .footer-links {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    .footer-copyright {
        grid-row: 3;
        margin-top: 0;
    }

}

/* ==== MEDIA QUERIES | 768px Tablets ==== */

@media only screen and (max-width: 768px) {

    /* NAVBAR */
    .main-nav .navigation.flex {
        justify-content: flex-start;
    }

    .navigation .nav-control {
        display: block;
    }

    .navigation__links {
        position: absolute;
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: flex-start;
        height: 100vh;
        width: 50vw;
        top: 0;
        left: 0;
        background-color: #fff;
        padding: 80px 8px;
        left: -100%;
        transition: 0.5s ease-in-out;
        z-index: -5;
    }

    .navigation__links.active {
        left: 0;
    }


    /* UTILITIES */
    .container {
        padding: 0 24px;
    }

    /* HOME | hero-section */

    .hero-content.flex {
        flex-wrap: wrap;
        height: 100%;
        max-height: 100%;
        justify-content: center;
    }


    .hero-text {
        flex-basis: 100%;
        text-align: center;
    }

    .hero-img-container {
       flex-basis: 100%;
       left: 0;
    }

    .hero-img {
        width: 100%;
        height: 100%;
    }

    .hero-text .hero-title, .hero-desc, .hero-cta-btns {
        max-width: 100%;
    }

    /* HOME | services-section */

    .services-content.flex {
        justify-content: stretch;
        flex-wrap: wrap;
        gap: 80px
    }

    .services-content .card {
        flex-basis: 100%;
    }

    /* HOME | about-section, perks-section */

    .grid__img {
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .grid__info {
        grid-column: 1 / 4;
        grid-row: 2;
        max-width: 100%;
    }

    .perks-section .grid__img {
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .perks-section .grid__info {
        grid-column: 1 / 4;
        grid-row: 2;
        max-width: 100%;
    }

    /* FOOTER */
    .footer-links.flex {
        flex-direction: column;
        gap: 32px
    }

    .footer-links {
        margin-bottom: 24px;
    }

}

/* ==== MEDIA QUERIES | 480px Mobile Devices ==== */
@media only screen and (max-width: 480px) {

    /* Navbar */
    .navigation__links {
        width: 75vw;
    }

    /* FOOTER */

    .footer .grid {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .footer-newsletter {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .footer-newsletter .footer-form {
        width: 100%;
    }

    .footer form input {
        width: 100%;
    }

    .footer-newsletter .footer-logo {
        margin-bottom: 32px;
        padding: 0;
    }


    /* HOME | hero-section */
    .hero-content .hero-cta-btns  .btn{
        width: 100%;
        margin-bottom: 8px;
    }


}

